/*
 * written by andrewt@cse.unsw.edu.au October 2017
 * as a starting point for COMP[29]041 assignment 2
 * https://cgi.cse.unsw.edu.au/~cs2041/assignments/UNSWtalk/
 *
 * Change (or replace) the CSS below to create you own look-and-feel
 *
 * You will probably want to add  CSS to this file too
 */

.unswtalk_heading {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
}

.unswtalk_user_details {
    background-color: #ABCDEF;
    color: #204142;
    white-space: pre;
    border:thin solid #204142;
    border-radius: 1em;
    padding-left: 0.42em;
}

.unswtalk_button {
    background-color: #FEDBCA;
    border:thin solid #904142;
    border-radius: 0.42em;
    color: #904142;
}
/* */
body{width:80%;margin:0 auto}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
a{
text-decoration:none;
}
.table {
    width: 100%;
    margin-bottom: 20px;
}
table {
    max-width: 100%;
    background-color: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
table {
    display: table;
    border-color: grey;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
.content{width:100%;margin-top:2%;height:100%}
.div10{width:100%;height:100%}
.div1{
	width:9%;float:left
}
.div2{width:19%;float:left;height:auto}
.div3{width:29%;float:left;height:auto}
.div4{width:39%;float:left;height:auto}
.div5{width:49%;float:left;height:auto}
.div6{width:59%;float:left;height:auto}
.div7{width:68%;float:left;padding-left:1%;height:auto}
.div8{width:79%;float:left;height:auto}
.div9{
	width:89%;float:left;
}
.btn {
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 16px 0 !important;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.btn3 {
    background-color: #f44336;
}
.padding3 {
    padding: 14px 40px;
}
.well {
    min-height: 10%;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}




.navbar{
	width:100%;
}
.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
.horizontal li {
    float: left;
}
.horizontal li a {
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.horizontal li a.active {
    background-color: #4CAF50;
	color: white;
}
.horizontal .navrightli{
    float:right
}
.table-user-information {
	width:80%;
	margin-left:1%;
}
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.personimg{
	width:20%;
	border-radius: 50%;
	vertical-align: middle;
	border-radius: 50%;
}
.friendimg{
	width:80%;
	vertical-align: middle;
}
.frienddiv{
	height:100px;
	width:100%;
}
label{width:10%;}
input[type=text],input[type=password] {
    width: 80%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
.submitbtn{
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 15%;
	height:15em;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
.wellcomment {
    height:100%;
    padding: 0 1%;
    margin-bottom: 1%;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.pcomment{
    font-size:0.8em;
}
.wellreply {
    height:100%;
    padding: 0 1%;
    margin-bottom: 1%;
    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.preply{
    font-size:0.8em;
}
.pcontent{
    font-size:0.9em;
    margin-top:10px;
    margin-bottom:10px;
}
.posttitle{color:green;font-size:0.8em;margin:0px;}