/*
 * written by andrewt@cse.unsw.edu.au October 2017
 * as a starting point for COMP[29]041 assignment 2
 * https://cgi.cse.unsw.edu.au/~cs2041/assignments/UNSWtalk/
 *
 * Change (or replace) the CSS below to create you own look-and-feel
 *
 * You will probably want to add  CSS to this file too
 */

.unswtalk_heading {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
}

.unswtalk_user_details {
    background-color: #ABCDEF;
    color: #204142;
    white-space: pre;
    border:thin solid #204142;
    border-radius: 1em;
    padding-left: 0.42em;
}

.unswtalk_button {
    background-color: #FEDBCA;
    border:thin solid #904142;
    border-radius: 0.42em;
    color: #904142;
}
/* */
body{width:100%;margin:0px}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.table {
    width: 100%;
    margin-bottom: 20px;
}
table {
    max-width: 100%;
    background-color: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
table {
    display: table;
    border-color: grey;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
.content{width:100%;float:left}
.div10{width:100%;}
.div1{
	width:9%;float:left
}
.div2{width:19%;float:left}
.div3{width:29%;float:left}
.div4{width:39%;float:left}
.div5{width:49%;float:left}
.div6{width:59%;float:left}
.div7{width:69%;float:left}
.div8{width:79%;float:left}
.div9{
	width:89%;float:left;
}
.btn {
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 16px 0 !important;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.btn3 {
    background-color: #f44336;
}
.padding3 {
    padding: 14px 40px;
}

.navbar{
	width:100%;
}
.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
.horizontal li {
    float: left;
}
.horizontal li a {
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.horizontal li a.active {
    background-color: #4CAF50;
	color: white;
}
.horizontal .navrightli{
    float:right
}
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
