<!DOCTYPE html>
<html lang="en">
<head>
<title>unswtalk</title>
<link href="{{url_for('static', filename='UNSWtalk.css')}}") rel="stylesheet">
</head>
<body>

<div class="unswtalk_heading">
UNSWtalk
</div>
<nav class="navbar">
<ul class="horizontal">
  <li><a href='/' class="active"  href="javascript:void(0)">Home</a></li>
  <li><a href="/searchpage">Search For names</a></li>
  <li class="navrightli" ><a href="/loginpage">Login in</a></li>
</ul>

</nav>
{% block body_contents %}
{% endblock %}

</body>
</html>
