<!DOCTYPE html>
<html lang="en">
<head>
<title>unswtalk</title>
<link href="{{url_for('static', filename='UNSWtalk.css')}}") rel="stylesheet">
</head>
<body>

<div class="unswtalk_heading">
UNSWtalk
</div>
<nav class="navbar">
<ul class="horizontal">
  <li><a href='/' >Home</a></li>
  <li><a href="/searchpage">Search For names</a></li>
  <li><a href="/searchpost">Search Posts</a></li>
  {% if session['zid'] %}
  <li class="navrightli" ><a href="/logout">Login Out</a></li>
  {% else %}
  <li class="navrightli" ><a href="/loginpage">Login in</a></li>
  {% endif %}
  
</ul>

</nav>
{% block body_contents %}
{% endblock %}

</body>
</html>
