{% extends "base.html" %}

{% block body_contents %}
<div class="content">
	<div class="div10">
		<h3>Recent posts</h3>
		<div class="div10">
			<h4>full name Post at </h4>
			<p>
				msg
			</p>
			<div class="div10 wellcomment">
				<p class="pcomment"><strong>xxx comments at time</strong></p>
				<p class="pcomment">
					I comment msg
				</p>
				<div class="div10 wellreply">
					<p class="preply"><strong>xxx reply at time</strong></p>
					<p class="preply">
						I reply msg
					</p>

				</div>
				<div class="div10 wellreply">
					<p class="preply"><strong>xxx reply at time</strong></p>
					<p class="preply">
						I reply msg
					</p>

				</div>
			</div>
			<div class="div10 wellcomment">
				<p class="pcomment"><strong>xxx comments at time</strong></p>
				<p class="pcomment">
					I comment msg
				</p>
			</div>
		</div>
		<br>
		<hr>
		<h3>Friends' posts</h3>
		<h3>Friends' posts</h3>
	</div>

</div>
{% endblock %}
